* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: arial;
}

nav,
header {
    position: fixed;
    width: 100%;
}

nav {
    height: 10vh;
    background-color: black;
    line-height: 10vh;
    top: 0;
    left: 0;
    z-index: 2;
}

header {
    height: 90vh;
    background-color: brown;
    line-height: 90vh;
    top: 10%;
    left: 0;
}

main {
    position: relative;
    margin-top: 100vh;
    height: 200vh;
    background-image: linear-gradient(50deg, rgba(216, 169, 255, 0.884) 0%, pink 40%, violet 70%, deeppink 100%);
    line-height: 200vh;
    z-index: 1;
}